[submodule "common"]
	path = common
	url = https://github.com/Bangumi/common
[submodule "third-party/uuidv7"]
	path = third-party/uuidv7
	url = https://github.com/Betterment/postgresql-uuid-generate-v7.git
