{% extends "layout/base.html.jinja2" %}

{% block content %}
  {% include 'component/header.html.jinja2' %}
  <div class="row">
    method: {{ method }}
  </div>
  <div class="row">
    url: {{ url }}
  </div>
  <div class="row">
    {{ error }}
  </div>
{% endblock %}
