{% extends "layout/base.html.jinja2" %}

{% block content %}
    {% if not auth.allow_edit %}
        <div class="row m-1">
            <a href="/suggest">添加Patch</a>
        </div>
    {% endif %}

    <div class="row mt-4">
        <ul class="list-group">
            {% for patch in rows %}
                <a href="/patch/{{ patch.id }}" id="{{ patch.id }}"
                   target="_blank" rel="noopener"
                   class="list-group-item list-group-item-action flex-column align-items-start"
                >
                    <div class="d-flex w-100 justify-content-between">
                        {% if patch.state == 0 %}
                            <p class="m-1"
                               style="overflow: hidden; text-overflow: ellipsis;">
                                {{ patch.description }}
                            </p>
                        {% elif patch.state == 1 %}
                            <!-- accept -->
                            <h5 class="mb-1">
                                <span class="badge bg-success">Accept</span>
                            </h5>
                        {% elif patch.state == 2 %}
                            <!-- rejected -->
                            <h5 class="mb-1">
                                <span class="badge bg-danger">Rejected</span>
                            </h5>
                        {% elif patch.state == 3 %}
                            <h5 class="mb-1">
                                <span class="badge bg-secondary">Outdated</span>
                            </h5>
                        {% endif %}

                        {% if patch.state %}
                            <small style="text-wrap: nowrap;"
                                   title="{{ patch.updated_at }}">
                                reviewed at {{ patch.updated_at | rel_time }}
                            </small>
                        {% else %}
                            <small style="text-wrap: nowrap;"
                                   title="{{ patch.created_at }}">
                                created at {{ patch.created_at | rel_time }}
                            </small>
                        {% endif %}
                    </div>

                    <small>subject: {{ patch.subject_id }}</small>
                    <small>from: {{ patch.from_user_id }}</small>
                </a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
