{% extends "layout/base.html.jinja2" %}

{% block content %}
    <style>
        .oneline-hide-overflow {
            text-wrap: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
    {% if not auth.allow_edit %}
        <div class="row m-1">
            <a href="/suggest">添加Patch</a>
        </div>
    {% endif %}

    <div class="row mt-4">
        <ul class="list-group">
            {% for patch in rows %}
                <a href="/patch/{{ patch.id }}" id="{{ patch.id }}"
                   target="_blank" rel="noopener"
                   class="list-group-item list-group-item-action flex-column align-items-start"
                >
                    <div class="d-flex w-100 justify-content-between">
                        <div>
                            {% if patch.state == 0 %}
                                <h5 class="mb-1">
                                    <span class="badge bg-primary">待审核</span>
                                </h5>
                            {% elif patch.state == 1 %}
                                <!-- accept -->
                                <h5 class="mb-1">
                                    <span class="badge bg-success">Accept</span>
                                </h5>
                            {% elif patch.state == 2 %}
                                <!-- rejected -->
                                <h5 class="mb-1">
                                    <span class="badge bg-danger">Rejected</span>
                                </h5>
                            {% elif patch.state == 3 %}
                                <h5 class="mb-1">
                                    <span class="badge bg-secondary">Outdated</span>
                                </h5>
                            {% endif %}
                        </div>

                        {% if patch.state %}
                            <small style="text-wrap: nowrap;"
                                   title="{{ patch.updated_at }}">
                                reviewed at {{ patch.updated_at | rel_time }}
                            </small>
                        {% else %}
                            <small style="text-wrap: nowrap;"
                                   title="{{ patch.created_at }}">
                                created at {{ patch.created_at | rel_time }}
                            </small>
                        {% endif %}
                    </div>

                    <div>
                        <p class="oneline-hide-overflow m-0 p-0">
                            修改原因：{{ patch.description }}
                        </p>
                        <p class="oneline-hide-overflow m-0 p-0">
                            {% if patch.subject_type %}
                                分类：
                                {{ patch.subject_type | subject_type_readable }}
                            {% endif %}
                            {% if patch.original_name %}
                                条目名: {{ patch.original_name }}
                            {% endif %}
                        </p>
                    </div>

                    <small>from:
                        <span class="badge bg-light text-dark">{{ patch.from_user_id }}</span>
                    </small>
                    {% if patch.state != 0 %}
                        <small>reviewed by:
                            <span class="badge bg-light text-dark">{{ patch.wiki_user_id }}</span>
                        </small>
                    {% endif %}
                </a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
