{% extends "layout/base.html.jinja2" %}

{% block head %}
    <title>修改请求列表</title>
    <style>
        .oneline-hide-overflow {
            text-wrap: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
{% endblock %}

{% block content %}
    {% include 'component/header.html' %}

    <div class="row pt-4 pb-4">
        <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item">
                        <a
                                {% if patch_type == 'subject' %}
                                    class="page-link active"
                                {% else %}
                                    class="page-link"
                                {% endif %}
                                    href="{{ request.url.path }}?type=subject">条目</a>
                    </li>
                    <li class="page-item">
                        <a
                                {% if patch_type == 'episode' %}
                                    class="page-link active"
                                {% else %}
                                    class="page-link"
                                {% endif %} href="{{ request.url.path }}?type=episode">章节</a>
                    </li>
                </ul>
            </nav>
        </nav>
    </div>

    {% if user_id is defined %}
        <div class="row m-1">
            <a href="https://bgm.tv/user/{{ user_id }}" style="text-underline: none">
                <h3>用户 {{ users.get(user_id).nickname }} 的个人主页</h3>
            </a>
        </div>
    {% else %}
        {% if not auth.allow_edit %}
            <div class="row m-0">
                <a href="/suggest"><h3>添加Patch</h3></a>
            </div>
        {% endif %}
    {% endif %}

    <div class="row m-0">
        <ul class="list-group p-0 m-0">
            {% for patch in rows %}
                <a
                        {% if patch_type == 'subject' %}
                            href="/patch/{{ patch.id }}"
                        {% elif patch_type == 'episode' %}
                            href="/episode/{{ patch.id }}"
                        {% endif %}
                            id="{{ patch.id }}"
                            target="_blank" rel="noopener"
                            class="list-group-item list-group-item-action flex-column align-items-start"
                >
                    <div class="d-flex w-100 justify-content-between">
                        <div>
                            {% if patch.state == 0 %}
                                <h5 class="mb-1">
                                    <span class="badge bg-primary">待审核</span>
                                </h5>
                            {% elif patch.state == 1 %}
                                <!-- accept -->
                                <h5 class="mb-1">
                                    <span class="badge bg-success">Accept</span>
                                </h5>
                            {% elif patch.state == 2 %}
                                <!-- rejected -->
                                <h5 class="mb-1">
                                    <span class="badge bg-danger">Rejected</span>
                                </h5>
                            {% elif patch.state == 3 %}
                                <h5 class="mb-1">
                                    <span class="badge bg-secondary">Outdated</span>
                                </h5>
                            {% endif %}
                        </div>

                        {% if user_id is defined %}
                            <small style="text-wrap: nowrap;"
                                   title="{{ patch.created_at }}">
                                created at {{ patch.created_at | rel_time }}
                            </small>
                        {% else %}
                            {% if patch.state %}
                                <small style="text-wrap: nowrap;"
                                       class="font-monospace"
                                       title="{{ patch.updated_at }}">
                                    reviewed at {{ patch.updated_at | rel_time }}
                                </small>
                            {% else %}
                                <small style="text-wrap: nowrap;"
                                       class="font-monospace"
                                       title="{{ patch.created_at }}">
                                    created at {{ patch.created_at | rel_time }}
                                </small>
                            {% endif %}
                        {% endif %}
                    </div>

                    <div>
                        <p class="oneline-hide-overflow m-0 p-0">
                            修改原因：{{ patch.reason }}
                        </p>
                        <p class="oneline-hide-overflow m-0 p-0">
                            {% if patch.subject_type %}
                                分类：
                                <span class="badge bg-light text-dark border border-info">
                                  {{ patch.subject_type | subject_type_readable }}
                              </span>
                            {% endif %}
                            {% if patch.original_name %}
                                {% if patch_type == 'subject' %}
                                    条目名:
                                {% elif patch_type == 'episode' %}
                                    章节名:
                                {% endif %}

                                <span class="badge bg-light text-dark border border-info">{{ patch.original_name }}</span>
                            {% endif %}
                        </p>
                    </div>

                    <small>from:
                        <span class="badge bg-light text-dark border border-info">{{ users.get(patch.from_user_id).nickname | default(patch.from_user_id) }}</span>
                    </small>
                    {% if patch.state != 0 %}
                        <small>reviewed by:
                            <span class="badge bg-light text-dark border border-info">{{ users.get(patch.wiki_user_id).nickname | default(patch.wiki_user_id) }}</span>
                        </small>
                    {% endif %}
                </a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
