{% extends "layout/base.html.jinja2" %}

{% block head %}
  <style>
      .oneline-hide-overflow {
          white-space: nowrap;
          order: 1;
          flex: 0 1 auto;
          text-wrap: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          min-width: 0;
      }

      @media screen and (min-device-width: 480px) {
          html {
              overflow-y: scroll;
          }
      }
  </style>
{% endblock %}

{% block content %}
  {% include 'component/header.html.jinja2' %}

  <div class="row pt-2 pb-2 d-flex justify-content-between">
    <div class="col">
      <div class="btn-group" role="group">
        <a type="button"
           class="btn {% if patch_type == 'subject' %}btn-primary{% else %}btn-outline-primary{% endif %}"
           href="{{ replace_url_query(type='subject') }}">
          条目
          {% if pending_subject %}
            <span class="badge rounded-pill bg-danger">{{ pending_subject }}</span>
          {% endif %}
        </a>
        <a type="button"
           class="btn {% if patch_type == 'episode' %}btn-primary{% else %}btn-outline-primary{% endif %}"
           href="{{ replace_url_query(type='episode') }}">
          章节
          {% if pending_episode %}
            <span class="badge rounded-pill bg-danger">{{ pending_episode }}</span>
          {% endif %}
        </a>
      </div>
    </div>

    <div class="col">
      <div class="btn-group" role="group">
        {% for state, cn in patch_state_filter %}
          <a type="button"
             href="{{ replace_url_query(state=state) }}"
             class="btn {% if current_state == state %}btn-primary{% else %}btn-outline-primary{% endif %}">
            {{ cn }}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>

  {% if user_id is defined %}
    <div class="row m-1">
      <h3>
        用户
        <a href="https://bgm.tv/user/{{ user_id }}"
           style="text-underline: none">{{ users.get(user_id).nickname }}</a>
        的个人主页
      </h3>
    </div>
  {% else %}
    {% if not auth.allow_edit %}
      <div class="row m-0">
        {% if patch_type == 'subject' %}
          <a href="/suggest"><h3>添加Patch</h3></a>
        {% elif patch_type == 'episode' %}
          <a href="/suggest-episode"><h3>添加Patch</h3></a>
        {% endif %}
      </div>
    {% endif %}
  {% endif %}

  <div class="row m-0 mb-4">
    <ul class="list-group p-0 m-0">
      {% for patch in rows %}
        <a
          href="/{{ patch_type }}/{{ patch.id }}"
          id="{{ patch.id }}"
          rel="noopener"
          class="list-group-item list-group-item-action flex-column align-items-start"
        >
          <div class="w-100 d-flex justify-content-between mb-3">
            <div class="d-flex align-items-start" style="min-width: 0;">
              {% if patch.state == 0 %}
                <h5 class="me-2"><span class="badge bg-primary">待审核</span></h5>
              {% elif patch.state == 1 %}
                <!-- accept -->
                <h5 class="me-2"><span class="badge bg-success">Accept</span></h5>
              {% elif patch.state == 2 %}
                <!-- rejected -->
                <h5 class="me-2"><span class="badge bg-danger">Rejected</span></h5>
              {% elif patch.state == 3 %}
                <h5 class="me-2"><span class="badge bg-secondary">Outdated</span></h5>
              {% endif %}
              {% if patch.comments_count %}
                <h5 class="me-2">
                  <span class="badge bg-warning text-dark">{{ patch.comments_count }} comments</span>
                </h5>
              {% endif %}
              <h4 class="oneline-hide-overflow">{{ patch.reason }}</h4>
            </div>
            <div>
              {% if user_id is defined %}
                <small style="text-wrap: nowrap;"
                       title="{{ patch.created_at }}">
                  created {{ patch.created_at | rel_time }}
                </small>
              {% else %}
                {% if patch.state %}
                  <small style="text-wrap: nowrap;"
                         class="font-monospace"
                         title="{{ patch.updated_at }}">
                    reviewed {{ patch.updated_at | rel_time }}
                  </small>
                {% else %}
                  <small style="text-wrap: nowrap;"
                         class="font-monospace"
                         title="{{ patch.created_at }}">
                    created {{ patch.created_at | rel_time }}
                  </small>
                {% endif %}
              {% endif %}
            </div>
          </div>

          <div>
            <div class="d-flex w-100 justify-content-between">
              <p class="oneline-hide-overflow m-0 p-0">
                <small>from:
                  <span class="badge bg-light text-dark border border-info">{{ users.get(patch.from_user_id).nickname | default(patch.from_user_id) }}</span>
                </small>
                {% if patch.state != 0 %}
                  <small>reviewed by:
                    <span class="badge bg-light text-dark border border-info">{{ users.get(patch.wiki_user_id).nickname | default(patch.wiki_user_id) }}</span>
                  </small>
                {% endif %}
              </p>
              <div>
                {% if patch.subject_type %}
                  分类：<span class="badge bg-light text-dark border border-info">
                    {{- patch.subject_type | subject_type_readable -}}
                  </span>
                {% endif %}
                {% if patch.original_name %}
                  {% if patch_type == 'subject' %}
                    条目名:
                  {% elif patch_type == 'episode' %}
                    章节名:
                  {% endif %}

                  <span class="badge bg-light text-dark border border-info">{{ patch.original_name }}</span>
                {% endif %}
              </div>
            </div>
          </div>
        </a>
      {% endfor %}
    </ul>
  </div>

  {% if total_page is defined %}
    <div class="row mb-2">
      {% include "component/pagination.html.jinja2" %}
    </div>
  {% endif %}
{% endblock %}
