{% extends "layout/base.html.jinja2" %}
{% block head %}
    <script src="/static/jquery/3.7.1/dist/jquery.min.js"></script>
    <link
            rel="stylesheet"
            type="text/css"
            href="/static/diff2html/3.4.48/bundles/css/diff2html.min.css"
    />
    <script type="text/javascript"
            src="/static/diff2html/3.4.48/bundles/js/diff2html-ui.min.js"></script>
    <style>
        #nameDiffElement, #infoboxDiffElement, #summaryDiffElement {
            font-family: monospace;
        }
    </style>
{% endblock %}

{% block content %}
    {% include 'component/header.html' %}

    <div class="row">
        <div class="col">
            <a href="https://bgm.tv/subject/{{ patch.subject_id }}" target="_blank"
               rel="noopener">
                <h3>条目链接</h3>
            </a>
        </div>
        <div class="col">
            <h3>
                提交者: <a href="/contrib/{{ patch.from_user_id }}" target="_blank"
                           rel="noopener">
                {{ submitter.nickname }}
            </a>
            </h3>
        </div>
    </div>

    <div class="row">
        <h3>修改原因</h3>
        <blockquote class="blockquote" style="background-color: #f7f7f9">
            <p class="mb-0"
               style="overflow: visible; overflow-wrap: anywhere;">
                {{ patch.description }}
            </p>
        </blockquote>
    </div>

    <h3>具体变动</h3>

    {% if name_patch %}
        <div class="row">
            <div id="nameDiffElement"></div>
        </div>
    {% endif %}

    {% if infobox_patch %}
        <div class="row">
            <div id="infoboxDiffElement"></div>
        </div>
    {% endif %}

    {% if summary_patch %}
        <div class="row">
            <div id="summaryDiffElement"></div>
        </div>
    {% endif %}

    {% if patch.nsfw is not none %}
        <div class="row">
            {% if patch.nsfw %}
                <p>NSFW: ❌ -> ✅</p>
            {% else %}
                <p>NSFW: ✅ -> ❌ </p>
            {% endif %}
        </div>
    {% endif %}

    <div class="row">
        {% if patch.state == 0 %}
            {% if auth.allow_edit %}
                <div class="col">
                    <form action="/api/review-patch/{{ patch.id }}" method="post"
                          enctype="application/x-www-form-urlencoded">
                        {{ csrf_input | safe }}
                        <input name="react" value="accept" hidden="hidden"/>
                        <button type="submit" class="btn btn-success">Accept</button>
                    </form>
                </div>

                <script>
                    function onRejectSelectFormChange() {
                        const el = $('#reject-reason-select');
                        $('#reject-reason-input').val(el.val())
                    }
                </script>

                <div class="col">
                    <form action="/api/review-patch/{{ patch.id }}" method="post"
                          enctype="application/x-www-form-urlencoded">
                        {{ csrf_input | safe }}
                        <input name="react" value="reject" hidden="hidden"/>
                        {#                        <div class="mb-3">#}
                        {#                            <select class="form-select"#}
                        {#                                    id="reject-reason-select"#}
                        {#                                    aria-label="Default select example"#}
                        {#                                    onchange="onRejectSelectFormChange()">#}
                        {#                                <option selected>Open this select menu</option>#}
                        {#                                <option value="1">One</option>#}
                        {#                                <option value="2">Two</option>#}
                        {#                                <option value="3">Three</option>#}
                        {#                            </select>#}
                        {#                        </div>#}
                        <div class="mb-3">
                            <label>拒绝原因</label>
                            <input class="form-control" id="reject-reason-input"
                                   type="text"
                                   name="reject_reason"/>
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-danger">Reject</button>
                        </div>
                    </form>
                </div>
            {% endif %}

            {% if patch.from_user_id == auth.user_id %}
                <div class="row mb-1">
                    <form action="/api/delete-patch/{{ patch.id }}" method="post">
                        {{ csrf_input | safe }}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            {% endif %}
        {% elif patch.state == 1 %}
            <hr>
            <div class="col">
                <h2> 已被 <a href="/review/{{ patch.wiki_user_id }}"
                             target="_blank">{{ reviewer.nickname }}</a>
                    <span class="badge bg-success"> 接受 </span>
                </h2>
            </div>
        {% elif patch.state == 2 %}
            <hr>
            <div class="col">
                <h3> 已被 <a href="/review/{{ patch.wiki_user_id }}"
                             target="_blank">{{ reviewer.nickname }}</a>
                    <span class="badge bg-danger"> 拒绝 </span>
                </h3>

                {% if patch.reject_reason %}
                    <h4>原因：{{ patch.reject_reason }}</h4>
                {% endif %}
            </div>
        {% elif patch.state == 3 %}
            <hr>
            <div class="col">
                <h2> 已过期 </h2>
            </div>
        {% endif %}
    </div>

    {% if name_patch %}
        <script>
            (() => {
                const diffString = {{ name_patch | tojson }};
                const targetElement = document.getElementById('nameDiffElement');
                const configuration = {
                    drawFileList: false,
                    fileListToggle: false,
                    fileListStartVisible: false,
                    fileContentToggle: false,
                    maxLineSizeInBlockForComparison: 80,
                    matching: 'words',
                    outputFormat: 'line-by-line',
                    synchronisedScroll: true,
                    renderNothingWhenEmpty: false,
                };
                const diff2htmlUi = new Diff2HtmlUI(targetElement, diffString, configuration);
                diff2htmlUi.draw();
            })()
        </script>
    {% endif %}

    {% if infobox_patch %}
        <script>
            (() => {
                const diffString = {{ infobox_patch | tojson }};
                const targetElement = document.getElementById('infoboxDiffElement');
                const configuration = {
                    drawFileList: false,
                    fileListToggle: false,
                    fileListStartVisible: false,
                    fileContentToggle: false,
                    matching: 'lines',
                    maxLineSizeInBlockForComparison: 80,
                    outputFormat: 'side-by-side',
                    synchronisedScroll: true,
                    renderNothingWhenEmpty: false,
                };
                const diff2htmlUi = new Diff2HtmlUI(targetElement, diffString, configuration);
                diff2htmlUi.draw();
            })()
        </script>
    {% endif %}

    {% if summary_patch %}
        <script>
            (() => {
                const diffString = {{ summary_patch | tojson }};
                const targetElement = document.getElementById('summaryDiffElement');
                const configuration = {
                    drawFileList: false,
                    fileListToggle: false,
                    fileListStartVisible: false,
                    maxLineSizeInBlockForComparison: 80,
                    fileContentToggle: false,
                    matching: 'lines',
                    outputFormat: 'side-by-side',
                    synchronisedScroll: true,
                    renderNothingWhenEmpty: false,
                };
                const diff2htmlUi = new Diff2HtmlUI(targetElement, diffString, configuration);
                diff2htmlUi.draw();
            })()
        </script>
    {% endif %}
{% endblock %}
