{% extends "layout/base.html.jinja2" %}

{% block head %}
    <title>查看修改请求</title>
    <script src="/static/jquery/3.7.1/dist/jquery.min.js"></script>
    <link
            rel="stylesheet"
            type="text/css"
            href="/static/diff2html/3.4.48/bundles/css/diff2html.min.css"
    />
    <script type="text/javascript"
            src="/static/diff2html/3.4.48/bundles/js/diff2html-ui.min.js"></script>
    <style>
        .diff .d2h-code-line-ctn, .diff .d2h-code-line *, .diff * {
            font-family: Consolas, Menlo, monospace !important;
        }
    </style>
{% endblock %}

{% block content %}
    {% include 'component/header.html' %}

    <div class="row">
        <div class="col">
            <a href="https://bgm.tv/subject/{{ patch.subject_id }}" target="_blank"
               rel="noopener">
                <h3>条目链接</h3>
            </a>
        </div>
        <div class="col">
            <h3>
                提交者: <a href="/contrib/{{ patch.from_user_id }}" target="_blank"
                           rel="noopener">
                {{ submitter.nickname }}
            </a>
            </h3>
        </div>
    </div>

    <div class="row">
        <h3>修改原因</h3>
        <blockquote class="blockquote" style="background-color: #f7f7f9">
            <p class="mb-0"
               style="overflow: visible; overflow-wrap: anywhere;">
                {{ patch.description }}
            </p>
        </blockquote>
    </div>

    <h3>具体变动</h3>

    {% if name_patch %}
        <div class="row">
            <div id="nameDiffElement" class="diff"></div>
        </div>
    {% endif %}

    {% if infobox_patch %}
        <div class="row">
            <div id="infoboxDiffElement" class="diff"></div>
        </div>
    {% endif %}

    {% if summary_patch %}
        <div class="row">
            <div id="summaryDiffElement" class="diff"></div>
        </div>
    {% endif %}

    {% if patch.nsfw is not none %}
        <div class="row">
            {% if patch.nsfw %}
                <p>NSFW: ❌ -> ✅</p>
            {% else %}
                <p>NSFW: ✅ -> ❌ </p>
            {% endif %}
        </div>
    {% endif %}

    <div class="row">
        {% if patch.state == 0 %}
            {% if auth.allow_edit %}
                <div class="col">
                    <form action="/api/review-patch/{{ patch.id }}" method="post"
                          enctype="application/x-www-form-urlencoded">
                        {{ csrf_input | safe }}
                        <input name="react" value="accept" hidden="hidden"/>
                        <button type="submit" class="btn btn-success">Accept</button>
                        <details>
                            <summary>附加修改</summary>
                            <div class="form-group">
                                <label for="edited_name">条目名称</label>
                                <input class="form-control" id="edited_name" name="edited_name" value="{{ patch.name }}">
                            </div>
                            <div class="form-group">
                                <label for="edited_infobox">Infobox</label>
                                <textarea rows="15" class="form-control" id="edited_infobox"
                                          name="edited_infobox">{{ patch.infobox }}</textarea>
                            </div>
                            <div class="form-group">
                                <label for="edited_summary">简介</label>
                                <textarea rows="10" class="form-control" id="edited_summary"
                                          name="edited_summary">{{ patch.summary }}</textarea>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" name="edited_nsfw" class="form-check-input"
                                        {% if patch.nsfw %}
                                       checked
                                        {% endif %}
                                       id="edited_nsfw">
                                <label class="form-check-label" for="edited_nsfw">NSFW</label>
                            </div>
                            <div class="form-group">
                                <label for="edited_reason">修改意见</label>
                                <input class="form-control" id="edited_reason" name="edited_reason"/>
                            </div>
                        </details>
                    </form>
                </div>

                <script>
                    function onRejectSelectFormChange() {
                        const el = $('#reject-reason-select');
                        $('#reject-reason-input').val(el.val())
                    }
                </script>

                <div class="col">
                    <form action="/api/review-patch/{{ patch.id }}" method="post"
                          enctype="application/x-www-form-urlencoded">
                        {{ csrf_input | safe }}
                        <input name="react" value="reject" hidden="hidden"/>
                        {#                        <div class="mb-3">#}
                        {#                            <select class="form-select"#}
                        {#                                    id="reject-reason-select"#}
                        {#                                    aria-label="Default select example"#}
                        {#                                    onchange="onRejectSelectFormChange()">#}
                        {#                                <option selected>Open this select menu</option>#}
                        {#                                <option value="1">One</option>#}
                        {#                                <option value="2">Two</option>#}
                        {#                                <option value="3">Three</option>#}
                        {#                            </select>#}
                        {#                        </div>#}
                        <div class="mb-3">
                            <label>拒绝原因</label>
                            <input class="form-control" id="reject-reason-input"
                                   type="text"
                                   name="reject_reason"/>
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-danger">Reject</button>
                        </div>
                    </form>
                </div>
            {% endif %}

            {% if patch.from_user_id == auth.user_id %}
                <div class="row mb-1">
                    <form action="/api/delete-patch/{{ patch.id }}" method="post">
                        {{ csrf_input | safe }}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            {% endif %}
        {% elif patch.state == 1 %}
            <hr>
            <div class="col">
                <h2> 已被 <a href="/review/{{ patch.wiki_user_id }}"
                             target="_blank">{{ reviewer.nickname }}</a>
                    <span class="badge bg-success"> 接受 </span>
                </h2>
            </div>

            {% if patch.edited_reason or edited.name_patch or edited.infobox_patch or edited.summary_patch or patch.edited_nsfw is not none %}
                {% if patch.edited_reason %}
                    <div class="row">
                        <h3>审核反馈</h3>
                        <blockquote class="blockquote" style="background-color: #f7f7f9">
                            <p class="mb-0"
                               style="overflow: visible; overflow-wrap: anywhere;">
                                {{ patch.edited_reason }}
                            </p>
                        </blockquote>
                    </div>
                {% endif %}

                <h3>附加修改</h3>

                {% if edited.name_patch %}
                    <div class="row">
                        <div id="editedNameDiffElement" class="diff"></div>
                    </div>
                {% endif %}

                {% if edited.infobox_patch %}
                    <div class="row">
                        <div id="editedInfoboxDiffElement" class="diff"></div>
                    </div>
                {% endif %}

                {% if edited.summary_patch %}
                    <div class="row">
                        <div id="editedSummaryDiffElement" class="diff"></div>
                    </div>
                {% endif %}

                {% if patch.edited_nsfw is not none %}
                    <div class="row">
                        {% if patch.edited_nsfw %}
                            <p>NSFW: ❌ -> ✅</p>
                        {% else %}
                            <p>NSFW: ✅ -> ❌ </p>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}

        {% elif patch.state == 2 %}
            <hr>
            <div class="col">
                <h3> 已被 <a href="/review/{{ patch.wiki_user_id }}"
                             target="_blank">{{ reviewer.nickname }}</a>
                    <span class="badge bg-danger"> 拒绝 </span>
                </h3>

                {% if patch.reject_reason %}
                    <h4>原因：{{ patch.reject_reason }}</h4>
                {% endif %}
            </div>
        {% elif patch.state == 3 %}
            <hr>
            <div class="col">
                <h2> 已过期 </h2>
            </div>
        {% endif %}
    </div>

    {% if name_patch %}
        <script>
            (() => {
                const diffString = {{ name_patch | tojson }};
                const targetElement = document.getElementById('nameDiffElement');
                const configuration = {
                    drawFileList: false,
                    fileListToggle: false,
                    fileListStartVisible: false,
                    fileContentToggle: false,
                    maxLineSizeInBlockForComparison: 80,
                    matching: 'words',
                    outputFormat: 'line-by-line',
                    synchronisedScroll: true,
                    renderNothingWhenEmpty: false,
                };
                const diff2htmlUi = new Diff2HtmlUI(targetElement, diffString, configuration);
                diff2htmlUi.draw();
            })()
        </script>
    {% endif %}

    {% if infobox_patch %}
        <script>
            (() => {
                const diffString = {{ infobox_patch | tojson }};
                const targetElement = document.getElementById('infoboxDiffElement');
                const configuration = {
                    drawFileList: false,
                    fileListToggle: false,
                    fileListStartVisible: false,
                    fileContentToggle: false,
                    matching: 'lines',
                    maxLineSizeInBlockForComparison: 80,
                    {#outputFormat: 'side-by-side',#}
                    outputFormat: 'line-by-line',
                    synchronisedScroll: true,
                    renderNothingWhenEmpty: false,
                };
                const diff2htmlUi = new Diff2HtmlUI(targetElement, diffString, configuration);
                diff2htmlUi.draw();
            })()
        </script>
    {% endif %}

    {% if summary_patch %}
        <script>
            (() => {
                const diffString = {{ summary_patch | tojson }};
                const targetElement = document.getElementById('summaryDiffElement');
                const configuration = {
                    drawFileList: false,
                    fileListToggle: false,
                    fileListStartVisible: false,
                    maxLineSizeInBlockForComparison: 80,
                    fileContentToggle: false,
                    matching: 'lines',
                    outputFormat: 'line-by-line',
                    synchronisedScroll: true,
                    renderNothingWhenEmpty: false,
                };
                const diff2htmlUi = new Diff2HtmlUI(targetElement, diffString, configuration);
                diff2htmlUi.draw();
            })()
        </script>
    {% endif %}

    {% if edited.name_patch %}
        <script>
            (() => {
                const diffString = {{ edited.name_patch | tojson }};
                const targetElement = document.getElementById('editedNameDiffElement');
                const configuration = {
                    drawFileList: false,
                    fileListToggle: false,
                    fileListStartVisible: false,
                    fileContentToggle: false,
                    maxLineSizeInBlockForComparison: 80,
                    matching: 'words',
                    outputFormat: 'line-by-line',
                    synchronisedScroll: true,
                    renderNothingWhenEmpty: false,
                };
                const diff2htmlUi = new Diff2HtmlUI(targetElement, diffString, configuration);
                diff2htmlUi.draw();
            })()
        </script>
    {% endif %}

    {% if edited.infobox_patch %}
        <script>
            (() => {
                const diffString = {{ edited.infobox_patch | tojson }};
                const targetElement = document.getElementById('editedInfoboxDiffElement');
                const configuration = {
                    drawFileList: false,
                    fileListToggle: false,
                    fileListStartVisible: false,
                    fileContentToggle: false,
                    matching: 'lines',
                    maxLineSizeInBlockForComparison: 80,
                    {#outputFormat: 'side-by-side',#}
                    outputFormat: 'line-by-line',
                    synchronisedScroll: true,
                    renderNothingWhenEmpty: false,
                };
                const diff2htmlUi = new Diff2HtmlUI(targetElement, diffString, configuration);
                diff2htmlUi.draw();
            })()
        </script>
    {% endif %}

    {% if edited.summary_patch %}
        <script>
            (() => {
                const diffString = {{ edited.summary_patch | tojson }};
                const targetElement = document.getElementById('editedSummaryDiffElement');
                const configuration = {
                    drawFileList: false,
                    fileListToggle: false,
                    fileListStartVisible: false,
                    maxLineSizeInBlockForComparison: 80,
                    fileContentToggle: false,
                    matching: 'lines',
                    outputFormat: 'line-by-line',
                    synchronisedScroll: true,
                    renderNothingWhenEmpty: false,
                };
                const diff2htmlUi = new Diff2HtmlUI(targetElement, diffString, configuration);
                diff2htmlUi.draw();
            })()
        </script>
    {% endif %}

{% endblock %}
