{% extends "layout/base.html.jinja2" %}

{% block content %}
    <form action="/suggest" method="get">
        <div class="form-group">
            <label for="subjectID">Subject ID</label>
            <input type="number" class="form-control" name="subject_id" id="subjectID">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
