{% extends "layout/base.html.jinja2" %}

{% block head %}
    <title>选择条目</title>
{% endblock %}

{% block content %}
    <form action="/suggest" method="get">
        <div class="form-group">
            <label for="subjectID">Subject ID</label>
            <input type="number" class="form-control" placeholder="要修改的条目ID，比如8，100，3885" name="subject_id" id="subjectID">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
