{% extends "layout/base.html.jinja2" %}

{% block head %}
  <title>查看修改请求</title>
  <link
    rel="stylesheet"
    type="text/css"
    href="/static/diff2html/3.4.48/bundles/css/diff2html.min.css"
  />
  <script type="text/javascript"
          src="/static/diff2html/3.4.48/bundles/js/diff2html-ui.min.js"></script>
  <style>
      .diff .d2h-code-line-ctn, .diff .d2h-code-line *, .diff * {
          font-family: Consolas, Menlo, monospace !important;
      }

      .original_description {
          white-space: pre-wrap;
      }
  </style>
{% endblock %}

{% block content %}
  {% include 'component/header.html.jinja2' %}

  <div class="row">
    <div class="col">
      <a href="https://bgm.tv/ep/{{ patch.episode_id }}" target="_blank"
         rel="noopener">
        <h3>条目链接</h3>
      </a>
    </div>
    <div class="col">
      <h3>
        提交者: <a href="/contrib/{{ patch.from_user_id }}?type=episode" target="_blank"
                   rel="noopener">
        {{ submitter.nickname }}
      </a>
      </h3>
    </div>
  </div>

  <div class="row p-2">
    提交时间: {{ patch.created_at | rel_time }}
    ({{ patch.created_at | to_user_local_time }})
    <br>
    修改时间: {{ patch.updated_at | rel_time }}
    ({{ patch.updated_at | to_user_local_time }})
  </div>


  {% if patch.state == 0 %}
    {% if  patch.from_user_id == auth.user_id %}
      <div class="row mb-2">
        <form action="/api/delete-episode/{{ patch.id }}" method="post">
          {{ csrf_input | safe }}
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    {% endif %}
  {% elif patch.state == 1 %}
    <hr>
    <div class="col">
      <h2> 已被 <a href="/review/{{ patch.wiki_user_id }}?type=episode"
                   target="_blank">{{ reviewer.nickname }}</a>
        <span class="badge bg-success"> 接受 </span>
      </h2>
      <hr>
    </div>
  {% elif patch.state == 2 %}
    <hr>
    <div class="col">
      <h3> 已被 <a href="/review/{{ patch.wiki_user_id }}?type=episode"
                   target="_blank">{{ reviewer.nickname }}</a>
        <span class="badge bg-danger"> 拒绝 </span>
      </h3>

      {% if patch.reject_reason %}
        <h4>原因：{{ patch.reject_reason }}</h4>
      {% endif %}
      <hr>
    </div>
  {% elif patch.state == 3 %}
    <hr>
    <div class="col">
      <h2> 已过期 </h2>
      <hr>
    </div>
  {% endif %}

  <div class="row">
    <h2>修改原因</h2>
    <blockquote class="blockquote" style="background-color: #f7f7f9">
      <p class="mb-0"
         style="overflow: visible; overflow-wrap: anywhere; white-space: pre-wrap">
        {{- reason | auto_url -}}
      </p>
    </blockquote>
  </div>

  <h2>{% if patch.ep is not none %}ep. {{ patch.ep }}{% endif %} 具体变动</h2>

  <script>
    const outputFormatOpt = {'description': 'side-by-side'}
  </script>

  {% for key, cn in keys.items() %}
    {% if key in diff %}
      <div class="row">
        <h4>{{ cn }}</h4>
        <div id="{{ key }}diff" class="diff"></div>
      </div>

      <script>
        (() => {
          const diffString = {{ diff[key] | tojson }};
          const key = '{{ key }}'
          const targetElement = document.getElementById('{{ key }}diff');
          const configuration = {
            drawFileList: false,
            fileListToggle: false,
            fileListStartVisible: false,
            fileContentToggle: false,
            matching: 'words',
            maxLineSizeInBlockForComparison: 80,
            outputFormat: 'line-by-line',
            synchronisedScroll: true,
            renderNothingWhenEmpty: false,
          };
          const diff2htmlUi = new Diff2HtmlUI(targetElement, diffString, configuration);
          diff2htmlUi.draw();
        })()
      </script>
    {% else %}
      <div class="row">
        <h4>{{ cn }}</h4>
        <p class="blockquote original_{{ key }}"
           style="background-color: #f7f7f9">{{ patch['original_' + key] }}</p>
      </div>
    {% endif %}
  {% endfor %}

  <div class="row">
    {% if patch.state == 0 %}
      {% if auth.allow_edit %}
        <hr>
        <form action="/api/review-episode/{{ patch.id }}" method="post"
              enctype="application/x-www-form-urlencoded">
          <div class="col">
            {{ csrf_input | safe }}
            <div class="row mb-4">
              <textarea class="form-control" name="text"></textarea>
            </div>
            <div class="row">
              <div class="col">
                <button type="submit"
                        name="react"
                        value="accept"
                        class="btn btn-success">
                  Accept
                </button>
              </div>
              <div class="col">
                <button type="submit"
                        name="react"
                        value="reject"
                        class="btn btn-danger">
                  Reject
                </button>
              </div>
            </div>
          </div>
        </form>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}
