name: lint

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: "true"

      - uses: trim21/actions/setup-go@master
        with:
          cache-namespace: lint

      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - run: go install github.com/a-h/templ/cmd/templ

      - run: task gen:template
      - run: git diff --exit-code

      - run: go mod tidy
      - run: git diff --exit-code

      - run: gofmt -s -w .
      - run: git diff --exit-code

      - name: Run linters
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.1.2
