name: autofix.ci

on:
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - run: go mod tidy

      - run: gofmt -w -s .

      - uses: autofix-ci/action@v1
